# ------------
# App Dependencies

# These are dependencies for the repo so we can run the app in the environment.
# They should be installed when we install the app. They are strictly required
# here but offer another form of documentation.

tzdata  # For Timezones on Windows. On linux, it will use the system binaries first
click
toml
appdirs
pandas
odfpy
openpyxl
sqlalchemy

# ------------
# Custom Repo

